@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.Broadway {
  font-family: "Broadway", sans-serif;
  color: #ffffff;
}

.OpenSans {
  font-family: "Open Sans", sans-serif;
}

.fondo {
  background-color: #626262;
}

.ocultar {
  display: none;
}

.img {
  width: 18rem;
}

.fondoBlando {
  background-color: rgba(255, 255, 255, 0.5);
}

.sombre {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.fondoUno {
  background-color: #b0b0b0;
}

.fondoDos {
  background-color: #626262;
}

.fondoTres {
  background-color: #343a40;
}

.cursor {
  cursor: pointer;
}

.invalido {
  border-color: 1px solid #ff0000;
}

.valido {
  border-color: 1px solid #00ff37;
}

/*
estilos de las tablas
*/
.table-fixed tbody {
  height: 280px;
  overflow-y: auto;
  width: 100%;
  min-width: 1080px;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}
