
body {
  background-color: #ebf0f1;
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content-wrapper .navbar .btnMenu {
  background-color: #626262;
  padding: 0px 0px;
  color: #ebf0f1;
  font-size: 30px;
  border: 1px solid #626262;
}

#page-content-wrapper .navbar .btnMenu span {
  padding: 0px 8px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.itmes {
  padding: 10px;
}

.card-body,
.list-group-item {
  border-bottom: 1px solid rgb(255, 255, 255, 0.5) !important;
}

.foto {
  display: block;
  margin: 5px auto;
  background-color: #ffffff;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#card {
  padding: 0px 20px;
}
/* estilo para cambiar foto */
.contener-foto-user {
  max-height: 100px;
  max-width: 100px;
  border: 2px solid #ffffff;
  padding: 0;
}

.contener-foto-user .perfilUser {
  display: block;
  width: 100%;
}

.contener-foto-user .contener-foto {
  display: none; 
  border-radius: 3px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 45%;
  width: 100px;
}

.contener-foto-user .contener-foto .itemFoto {
  width: 100%;
  text-decoration: none;
  min-width: 100%;
  font-size: 11px;
  height: 50%;
}
/*-------------------------------Vista previa foto-------------------------------*/

.prevPhoto {
  src: url(../img/defect.jpg);
  max-width: 100px;
  max-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
