
body {
  background-color: #ebf0f1;
  overflow-x: hidden;
}

#contenido {
  height: 600px;
  overflow-y: scroll;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content-wrapper .navbar .btnMenu {
  background-color: #626262;
  padding: 0px 0px;
  color: #ebf0f1;
  font-size: 30px;
  border: 1px solid #626262;
}

#page-content-wrapper .navbar .btnMenu span {
  padding: 0px 8px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.itmes {
  padding: 10px;
}

.card-body,
.list-group-item {
  border-bottom: 1px solid rgb(255, 255, 255, 0.5) !important;
}

.foto {
  display: block;
  margin: 5px auto;
  background-color: #ffffff;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#card {
  padding: 0px 20px;
}
/* estilo para cambiar foto */
.contener-foto-user {
  max-height: 100px;
  max-width: 100px;
  border: 2px solid #ffffff;
  padding: 0;
}

.contener-foto-user .perfilUser {
  display: block;
  width: 100%;
}

.contener-foto-user .contener-foto {
  display: none; 
  border-radius: 3px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 45%;
  width: 100px;
}

.contener-foto-user .contener-foto .itemFoto {
  width: 100%;
  text-decoration: none;
  min-width: 100%;
  font-size: 11px;
  height: 50%;
}
/*-------------------------------Vista previa foto-------------------------------*/

.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 115px;
    border: 1px solid #000;
    position: relative;
    cursor: pointer;
    background: url(../../img/defaul.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.prevPhoto img{
    width: 100%;
    height: 100%;
}
.upimg, .notBlock{
    display: none !important;
}
.errorArchivo{
    font-size: 16px;
    color: #cc0000;
    text-align: center;
    font-weight: bold; 
    margin-top: 10px;
}
.inactivo{
    background-color: #DC3545;
    color: #000;
}
.activo{
    background-color: #28A745;
    color: #000;
}
.delPhoto{
    color: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
}
#tbl_list_productos img{
    width: 50px;
}
.imgProductoDelete{
    width: 175px;
}
.btnPrint{
    margin: 10px;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
