/**
*
* Comentario crear cuenta
*
**/
.formulario__label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 6px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__textarea {
  width: 100%;
  background-color: #ffffff;
  border: 3px solid transparent;
  border-radius: 6px;
  padding: 0 40px 0 10px;
}

.formulario__textarea:focus {
  outline: none;
  box-shadow: 3px 3px 30px rgba(189, 189, 189, 0.4);
}

.formulario__input:focus {
  outline: none;
  box-shadow: 3px 3px 30px rgba(189, 189, 189, 0.4);
}

.formulario__input-error {
  font-size: 14px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__val-estado {
  position: absolute;
  right: 25px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

/**
*
* Comentario Estilos para Validacion
*
**/
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-correcto .formulario__val-estado {
  color: #1ed12d;
  opacity: 1;
}
/*
.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}
*/
.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__val-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

.formulario__grupo-incorrecto .formulario__textarea {
  border: 3px solid #bb2929;
}
